#container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 97vw;
}

#animated {
    height: 3rem;
    width: 3rem;
    background-color: red;
    animation: 5s blackhole infinite alternate;
}

@keyframes blackhole {
    from {
        background-color: red;
    }

    to {
        background-color: purple;
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
    }
}